<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<div class="demoTable" style="margin-top:18px;margin: 16px;">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="demoReload" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
    <button id="add" data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">居中弹出</button>
</div>
<div style="margin-left: 10px">
    <table id="demo" class="layui-hide" lay-filter="test"></table>
</div>

<script src="../layui/layui.all.js" charset="utf-8"></script>
<script src="../jquery-1.11.1.min.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['layer', 'form','table'], function(){
        var layer = layui.layer,
            $ = layui.jquery,
            table = layui.table,
            form = layui.form;
        //第一个实例
        var tableIn = table.render({
            elem: '#demo'
            ,id:'testReload'
            ,url: '/user/page'
            ,page: true
            ,limits: [10,20,30,40,50,60]
            ,height: 'full-200'
            ,cellMinWidth: '80'
            ,cols: [
                [
                {type:'radio'}
                ,{field: 'id', title: 'ID',  sort: true,align: 'center' }
                ,{field: 'name', title: '姓名', sort: true,align: 'center' }
                ,{field: 'account', title: '登录名',  sort: true,align: 'center'}
                ,{field: 'sex', title: '性别',align: 'center',templet:'#sexTable'}
                ,{field: 'phone', title: '手机号码', align: 'center'}
                ,{field: 'email', title: '邮箱',  align: 'center'}
                ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
            ]
            ]
        });


        $('#search').click(function (){
            tableIn.reload({
                where: { //设定异步数据接口的额外参数，任意设
                   keyLike: $("#demoReload").val()
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });


        //监听事件
        table.on('tool(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'detail':
                    layer.msg('添加');
                    break;
                case 'delete':
                    layer.msg('删除');
                    break;
                case 'update':
                    layer.msg('编辑');
                    break;
            };
        });

        $('#add').on('click', function(){
            layer.open({
                type: 2,
                title:"新建配置",
                closeBtn: false,
                shift: 2,
                area: ['400px', '300px'],
                shadeClose: true,
                // btn: ['新增', '取消'],
                // btnAlign: 'c',
                content: '/toAdd',
                success: function(layero, index){},
                yes:function(){

                }
            });
        });
    });
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
<!--    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>

<script type="text/html" id="sexTable">
    {{# if(d.sex === 1){ }}
    <span class="layui-badge layui-bg-green">女</span>
    {{# } else { }}
    <span class="layui-badge">男</span>
    {{# } }}
</script>
</body>
</html>