<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登陆</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="../login3/login.css" media="all"/>
    <style>
        /* 覆盖原框架样式 */
        .layui-elem-quote {
            background-color: inherit !important;
        }

        .layui-input, .layui-select, .layui-textarea {
            background-color: inherit;
            padding-left: 30px;
        }

        .layadmin-user-login-other > * {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            font-size: 14px;
        }

        .layui-trans, .layui-trans a {
            transition: all .3s;
            -webkit-transition: all .3s;
        }

        .layadmin-user-login-other .layui-icon {
            position: relative;
            top: 2px;
            font-size: 26px;
        }

        .layui-icon-login-qq {
            color: #3492ED;
        }

        .layui-icon-login-wechat {
            color: #4DAF29;
        }

        .layui-icon-login-weibo {
            color: #CF1900;
        }
    </style>
</head>
<body>
<!-- Head -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 zyl_mar_01">
            <blockquote class="layui-elem-quote">后台登陆</blockquote>
        </div>
    </div>
</div>
<!-- Head End -->

<!-- Carousel -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
            <div carousel-item="">
                <div>
                    <div class="zyl_login_cont"></div>
                </div>
                <div>
                    <img src="../img/01.jpg"/>
                </div>
                <div>
                    <div class="background">
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div>
                    <img src="../img/03.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Footer -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12 zyl_center zyl_mar_01">
        © 2019 - 2020 || 简约后台登陆界面
    </div>
</div>
<!-- Footer End -->


<!-- LoginForm -->
<div id="mains" class="zyl_lofo_main">
    <div id="cp" style="display: block">
        <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
            <legend>欢迎登陆 - 管理平台</legend>
        </fieldset>
        <div class="layui-row layui-col-space15">
            <form class="layui-form zyl_pad_01" action="">
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" name="userLoginAccount" lay-verify="required" autocomplete="off"
                               placeholder="账号" class="layui-input">
                        <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="password" name="userPwd" lay-verify="required" autocomplete="off"
                               placeholder="密码"
                               class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-row">
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <div class="layui-form-item">
                                <input type="text" name="vercode" id="vercode" lay-verify="required|vercodes"
                                       autocomplete="off" placeholder="验证码" class="layui-input" maxlength="4">
                                <i class="layui-icon layui-icon-vercode zyl_lofo_icon"></i>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <div class="zyl_lofo_vercode zylVerCode" onclick="zylVerCode()"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo1">立即登录</button>
                </div>
            </form>
        </div>
    </div>
    <div id="pp" style="display: none">
        <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
            <legend>欢迎注册 - 管理平台</legend>
        </fieldset>
        <div class="layui-row layui-col-space15">
            <form class="layui-form zyl_pad_01" action="">
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" name="userName" lay-verify="required" autocomplete="off"
                               placeholder="用户名" class="layui-input">
                        <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" name="userLoginAccount" lay-verify="required" autocomplete="off"
                               placeholder="账号"
                               class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input id="userPwd" type="password" name="userPwd" lay-verify="required|pass" autocomplete="off"
                               placeholder="密码"
                               class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="password" name="userPwd" lay-verify="required|passQr" autocomplete="off"
                               placeholder="确认密码"
                               class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <div class="layui-form-item">
                        <input type="text" id="email" name="email" lay-verify="required|email" autocomplete="off"
                               placeholder="邮箱"
                               class="layui-input">
                        <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                    </div>
                </div>

                <div class="layui-col-sm12 layui-col-md12">
                    <!--<label class="layui-form-label">输入框</label>-->
                    <div class="layui-form-item">
                    <label class="layui-icon layui-icon-vercode layui-form-label formslabel" style="    width: auto;"></label>
                    <!--<div class="layui-input-block formsinput">-->
                    <input type="text" name="mailcaptcha" id="mailcaptcha" required  lay-verify="required" placeholder="邮箱验证码" autocomplete="off" class="layui-input formsinput " style="float: left;width: 167px;margin-right: 29px;">
                    <!--</div>-->
                    <div class="layui-col-xs5"> <button style="width: auto;" type="button" class="layui-btn layui-btn-primary layui-btn-fluid"  name="btnSendCode" id="btnSendCode">获取验证码</button> </div>
                    </div>
                </div>
                <div class="layui-col-sm12 layui-col-md12">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo2">立即注册</button>
                </div>
            </form>
        </div>
    </div>
    <div class="layui-trans layui-form-item layadmin-user-login-other" style="margin-left: 35px;margin-top: 26px;">
        <label>社交账号登入</label>
        <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
        <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
        <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>
        <a href="#" id="res" style="" lay-href="" class="" onclick="registerPage()">注册帐号</a>
        <a href="#" id="log" style="" lay-href="" class="" onclick="loginPage()">已有账号,去登录</a>
    </div>
</div>
<!-- LoginForm End -->


<!-- Jquery Js -->
<script type="text/javascript" src="../jquery-1.11.1.min.js"></script>
<!-- Layui Js -->
<script type="text/javascript" src="../layui/layui.js"></script>
<!-- Jqarticle Js -->
<script type="text/javascript" src="../login3/jparticle.min.js"></script>
<!-- ZylVerificationCode Js-->
<script type="text/javascript" src="../login3/zylVerificationCode.js"></script>
<script>
    $("#log").css("display", "none");
    var myEmailCode;
    function registerPage() {
        $("#cp").css("display", "none");
        $("#pp").css("display", "block");
        $("#mains").css("height","auto");
        $("#res").css("display", "none");
        $("#log").css("display", "block");
    };

    function loginPage() {
        $("#cp").css("display", "block");
        $("#pp").css("display", "none");
        $("#mains").css("height","auto");
        $("#log").css("display", "none");
        $("#res").css("display", "block");
    };
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        //自定义验证规则
        form.verify({
            userName: function (value) {
                if (value.length < 5) {
                    return '账号至少得5个字符';
                }
            }
            , pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格']
            , passQr: function (value) {
                debugger;
               if(value!==$("#userPwd").val()) {
                   return '两次密码不一致';
               }
            }
            , vercodes: function (value) {
                //获取验证码
                var zylVerCode = $(".zylVerCode").html();
                if (value.toLowerCase() != zylVerCode.toLowerCase()) {
                    return '验证码错误（不区分大小写）';
                }
            }
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            $.ajax({
                url: "/login",
                data: data.field,
                success: function (res) {
                    if (res.code == 0) {
                        location.href = "/index";
                    } else {
                        layer.alert(res.msg, {
                            title: '提示'
                        })
                    }
                }
            });
            /* layer.alert(JSON.stringify(data.field),{
                 title: '最终的提交信息'
             })*/
            return false;
        });
        //监听提交
        form.on('submit(demo2)', function (data) {
            if(data.field.mailcaptcha!=myEmailCode){
                layer.alert('验证码不正确', {
                    title: '提示'
                })
                return false;
            }
            $.ajax({
                url: "/register",
                data: data.field,
                success: function (res) {
                    if (res.code == 0) {
                        location.href = "/home";
                    } else {
                        layer.alert(res.msg, {
                            title: '提示'
                        })
                    }
                }
            });
            /* layer.alert(JSON.stringify(data.field),{
                 title: '最终的提交信息'
             })*/
            return false;
        });


        /**
         * 发送验证码
         * @type {jQuery|HTMLElement}
         */

        var InterValObj; //timer变量，控制时间
        var count = 60; //间隔函数，1秒执行
        var curCount;//当前剩余秒数
        //发送验证码
        $("#btnSendCode").click(function (){
            curCount = count;
            var email = $('#email').val()===undefined?"":$('#email').val();
            layer.msg('请稍后');
            //设置按钮为禁用状态
            document.getElementById("btnSendCode").setAttribute("disabled","true" );
            $('#btnSendCode').addClass('layui-btn-disabled');
            $('#btnSendCode').text(curCount + "秒后重获");
            // 启动计时器timer处理函数，1秒执行一次
            InterValObj = window.setInterval(SetRemainTime, 1000);
            $.ajax({
                url:"/cesCode",
                data: {"email":email},
                success:function(data){
                    myEmailCode=data.object;
                },
                error:function(data){
                    layer.alert('错误',data.msg);
                }
            });
        })



        //timer处理函数
        function SetRemainTime(){
            if(curCount == 0){
                $('#btnSendCode').removeClass('layui-btn-disabled');
                $('#btnSendCode').text("重获验证码");
                window.clearInterval(InterValObj);// 停止计时器
                document.getElementById("btnSendCode").removeAttribute("disabled");//移除禁用状态改为可用
            } else{
                curCount--;
                $('#btnSendCode').text(curCount + "秒后重获");
            }
        }

        /************邮箱验证码结束****************/





        //设置轮播主体高度
        var zyl_login_height = $(window).height() / 1.3;
        var zyl_car_height = $(".zyl_login_height").css("cssText", "height:" + zyl_login_height + "px!important");


        //Login轮播主体
        carousel.render({
            elem: '#zyllogin'//指向容器选择器
            , width: '100%' //设置容器宽度
            , height: 'zyl_car_height'
            , arrow: 'always' //始终显示箭头
            , anim: 'fade' //切换动画方式
            , autoplay: true //是否自动切换false true
            , arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
            , indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
            , interval: '5000' //自动切换时间:单位：ms（毫秒）
        });

        //监听轮播--案例暂未使用
        carousel.on('change(zyllogin)', function (obj) {
            var loginCarousel = obj.index;
        });

        //粒子线条
        $(".zyl_login_cont").jParticle({
            background: "rgba(0,0,0,0)",//背景颜色
            color: "#fff",//粒子和连线的颜色
            particlesNumber: 100,//粒子数量
            //disableLinks:true,//禁止粒子间连线
            //disableMouse:true,//禁止粒子间连线(鼠标)
            particle: {
                minSize: 1,//最小粒子
                maxSize: 3,//最大粒子
                speed: 30,//粒子的动画速度
            }
        });

    });

</script>
<script>


</script>
</body>
</html>